<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 text-center">
        <img src="/android-chrome-512x512.png" class="img-responsive">
      </div>
      <div class="col-lg-10 text-center">
        <h2>Siamo una azienda giovane, ma attiva da oltre 10 anni in Genova e Provincia</h2>
        <p class="lead">Siamo sicuri della nostra qualità, ci mettiamo la faccia! <a href="#portfolio">Guardaci nella galleria fotografica!</a></p>
      </div>
    </div>
  </div>
</section>
