<meta charset="utf-8">
<link rel="amphtml" href="{{ site.url }}index-amp.html">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Riedil Genova, quando hai bisogno di edilizia...">
<meta name="author" content="Aleritty.net">

<title>Riedil Genova</title>
<link href="{{ site.url }}css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.url }}css/stylish-portfolio.css" rel="stylesheet">
<link href="{{ site.url }}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.url }}favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="{{ site.url }}manifest.json">
<link rel="mask-icon" href="{{ site.url }}safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "@id": "{{ site.url }}",
    "name" : "Riedilge.com",
    "alternateName": "Riedil Genova",
    "telephone" : "+39-393-92-18-175",
    "email":"info@riedilge.com",
    "acceptsReservations": "True",
    "brand":"Riedilge",
    "legalName":"Riedil di Fucarese Lucia",
    "vatId": "01503310995",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Via cornigliano 14/5",
      "addressLocality": "Genova",
      "addressRegion": "GE",
      "postalCode": "16152",
      "addressCountry": "IT"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 44.4253808,
      "longitude": 8.9222685
    },
    "openingHours": "Mo,Tu,We,Th,Fr 08:00-17:00"
    "url": "{{ site.url }}",
    "logo": "{{ site.url }}apple-touch-icon-180x180.png",
    "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "+39-393-92-18-175",
        "contactType" : "customer support",
        "areaServed" : "IT",
        "availableLanguage" : [
          "Italian"
        ]
    }]
  }
</script>

<meta property="og:title" content="Riedil Genova"/>
<meta property="og:site_name" content="Riedilge.com"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.url }}apple-touch-icon-180x180.png" />
<meta property="og:description" content="Riedil Genova - Quando hai bisogno di edilizia..." />
<meta property="og:locale" content="it_IT" />
