<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Menu</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/index.html#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/index.html#about" onclick = $("#menu-close").click(); >Chi siamo</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/index.html#services" onclick = $("#menu-close").click(); >Servizi</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/index.html#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/index.html#contact" onclick = $("#menu-close").click(); >Contatti</a>
    </li>
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/galleria" onclick = $("#menu-close").click(); >Galleria Fotografica</a>
    </li>
  </ul>
</nav>
