<!DOCTYPE html>
<html lang="it">
  <head>
    {% include head.html %}
  </head>
  <body>
  {% include navigation.html %}
  {% include header.html %}
  {% include about.html %}
  {% include services.html %}
          {% comment %}
            {% include callout.html %}
          {% endcomment %}
  {% include portfolio.html %}
  {% include call-to-action.html %}
          {% comment %}
            {% include map.html %}
          {% endcomment %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
